{% extends "base.html" %}

{% block content %}
    <div class="row">
      <div class="col-md-12">
        <div class="announcement">
          <h1>Welcome to selfGPT!</h1>
          <p>We're excited to announce that selfGPT will officially launch on 18 February.</p>
          <p>Stay tuned for a personalized GPT experience like no other.</p>
          <hr>
          <p><a href="https://www.facebook.com/selfgpt/">Join our community on Facebook</a></p>
        </div>
      </div>
    </div>
{% endblock content %}
